
*.props
obj/CheckDomains.csproj.nuget.g.targets
obj/Debug/netcoreapp2.0/CheckDomains.AssemblyInfo.cs
obj/Debug/netcoreapp2.0/CheckDomains.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.0/CheckDomains.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/CheckDomains.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.0/CheckDomains.csprojResolveAssemblyReference.cache
obj/Debug/netcoreapp2.0/CheckDomains.dll
obj/Debug/netcoreapp2.0/CheckDomains.pdb
obj/project.assets.json
obj/x64/Debug/netcoreapp2.0/CheckDomains.csproj.FileListAbsolute.txt
obj/x64/Release/netcoreapp2.0/CheckDomains.AssemblyInfo.cs
obj/x64/Release/netcoreapp2.0/CheckDomains.AssemblyInfoInputs.cache
obj/x64/Release/netcoreapp2.0/CheckDomains.csproj.CoreCompileInputs.cache
obj/x64/Release/netcoreapp2.0/CheckDomains.csproj.FileListAbsolute.txt
obj/x64/Release/netcoreapp2.0/CheckDomains.dll
obj/x64/Release/netcoreapp2.0/CheckDomains.pdb
bin/x64/Release/netcoreapp2.0/CheckDomains.runtimeconfig.json
bin/x64/Release/netcoreapp2.0/CheckDomains.runtimeconfig.dev.json
bin/x64/Release/netcoreapp2.0/CheckDomains.pdb
bin/x64/Release/netcoreapp2.0/CheckDomains.dll
bin/x64/Release/netcoreapp2.0/CheckDomains.deps.json
bin/Debug/netcoreapp2.0/CheckDomains.runtimeconfig.json
bin/Debug/netcoreapp2.0/CheckDomains.pdb
bin/Debug/netcoreapp2.0/CheckDomains.deps.json
bin/Debug/netcoreapp2.0/CheckDomains.dll
bin/Debug/netcoreapp2.0/CheckDomains.runtimeconfig.dev.json
